
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks</h2>

<p> Thank you for using our service . Your order has been approved and is currently under execution</p>
<p>

    @*<a href="@Url.Action("Index", "ShopCart")" class="btn btn-primary">
        <i class="glyphicon glyphicon-shopping-cart">  </i>Back to your shopping Cart
    </a>*@
    <a href="@Url.Action("Index", "Home")" class="btn btn-default">
        <i class="glyphicon glyphicon-home">  Back to Home   </i>
    </a>
</p>

